.html
{
	background-color: #000031;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	padding-right: 1200px;
	padding-bottom: 605px;
	margin-left: auto;
	margin-right: auto;
}

#u140
{
	z-index: 2;
	width: 1200px;
	height: 650px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -600px;
}

#U142_animation
{
	width: 1200px;
	height: 650px;
	border: none;
}

#page .verticalspacer
{
	clear: both;
}

