@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000031;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.5416666666663px;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 365px;
}

#u130
{
	z-index: 2;
	width: 379px;
	height: 205px;
	background-color: transparent;
	position: relative;
}

#U132_animation
{
	width: 379px;
	height: 205px;
	border: none;
}

#page .verticalspacer
{
	clear: both;
}

